<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles-authn.css">
    
</head>
<body>
    <!-- test github-->
<section class="header">
    <nav>
         <a href="index-authn.html"><img src="../static/logo.png" ></a>
    </nav>
        <div class="container">
        <div class="">
            <form action="">
                <h2>Connexion</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email"  required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon> 
                    <input type="password"  required>
                    <label for="">Mot de passe</label>
                </div>
                <div class="remember">
                    <label for=""><input class="checkbox" type="checkbox" ><small><small>Se rappeller de moi</small></small>  </label>
                </div>
            </form>
            <div class="button"><button onclick="window.location.href='index-home.html'">Se connecter</button></div>
                 <br><h6>veuiller vous connecter avec votre adresse mail INPT.</h6>
        </div>
    </div>
</section>



<script src="info.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>