<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static%}
    <link rel="stylesheet" href= "{%static 'styles-form.css' %}">
    <link rel="stylesheet" href= "{%static 'button_animated.css' %}">
    
</head>
<body>
    <section class="header">
    <nav>
        <div class="nav-links">
            <ul>
                <li><a href="http://127.0.0.1:8000/">Accueil</a></li>
                <li><a href="http://127.0.0.1:8000/">Informations</a></li>
            </ul>
        </div>
        {% load static%}
        <a href="http://127.0.0.1:8000/"><img src="{%static 'logo.png' %}" ></a>
    </nav>
    
  <section>
    <div class="container">
        <div class="title">Réclamation</div>
            <div class="content">
        
                <form action="." method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">{{ form.Nom_complet.label}}<span class="obligatoire">*</span></span>
                            {{ form.Nom_complet}}
                        </div>
                        <div class="input-box">
                            <span class="details">{{ form.Numéro_de_Téléphone.label}}<span class="obligatoire">*</span></span>
                            {{ form.Numéro_de_Téléphone}}
                        </div>
                        <div class="input-box">
                            <span class="details">{{ form.Lieu_concerné.label}}<span class="obligatoire">*</span></span>
                            {{ form.Lieu_concerné}}
                        </div>
                        <div class="input-box">
                            <span class="details">{{ form.Numéro_de_chambre.label}}<small><small>(Si nécessaire)</small></small></span>
                            {{ form.Numéro_de_chambre}}
                        </div>
                        <div class="input-box">
                            <span class="details">{{ form.Description.label}}<span class="obligatoire">*</span></span>
                            {{ form.Description}}
                        </div>
                        <div class="input-box">
                            <span class="details">{{ form.Pièce_jointe.label}}</span>
                            <div><p> <small>Vous pouvez joindre des documents(photos,videos...) qui montre le sujet de votre réclamation.</small></p></div>
                            {{ form.Pièce_jointe}}
                        </div>
                             <br>
                
                        <div class="button"  >
                            <input  type="submit" value="Enregistrer" >
                            <br>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
   </section>
    
</body>
</html>